@charset "UTF-8";

* {
   padding: 0px;
   margin: 0px;
}

body {
    background-color: rgb(92, 92, 92);
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 19px;
}

h2.um {
    text-align: center;
    padding: 20px;
}

h2.dois {
    text-align: center;
}

p {
    padding: 20px;
}

div.primeiro {
    display: flex;
    justify-content: center;
}


img.gtr1 {
    width: 960px;
    height: 600px;
    display: block;
    margin: 0 auto;
}

img.gtr2 {
    width: 450px;
    display: block;
    margin: 0 auto; 
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
}
